<!DOCTYPE html>
<html>
  <head>
    <title>CLASS SORCE</title>
    <link rel="stylesheet" type="text/css" href="app.component.css"> <!-- Supondo que o CSS esteja em um arquivo separado -->
  </head>
  <body>
    <div class="barra">
      <!-- Ícone clicável na barra -->
      <a href="https://www.ucl.br/webaluno/" target="_blank">
        <img src="UCL_LOGO.jpg" alt="Ícone">
      </a>

      <!-- Campo de pesquisa na barra -->
      <input type="text" placeholder="Pesquisar...">

      <!-- Botões Cadastre-se e Login -->
      <div class="botoes">
        <button>Cadastre-se</button>
        <button>Login</button>
      </div>
    </div>
  </body>
  <body>
 <h1>Ferramentas Uteis</h1>
 <p>Ferramentas Uteis<p>
  </body>
</html>
