.barra {
  width: 90%; /* Define a largura da barra como 90% da largura do contêiner pai, geralmente o corpo da página */
  max-width: 1200px; /* Define uma largura máxima para a barra. Não deixará a barra mais larga que 1200 pixels, mesmo que 90% da tela seja maior */
  height: 50px; /* Define a altura da barra como 50 pixels */
  background-color: #7c7979; /* Define a cor de fundo da barra como um tom de cinza (#7c7979) */
  display: flex; /* Usa o modelo de layout flexível para organizar o conteúdo dentro da barra */
  align-items: center; /* Alinha os itens verticalmente no centro da barra */
  justify-content: space-between; /* Distribui os itens horizontalmente com o máximo de espaço possível entre eles */
  padding: 0 20px; /* Adiciona 20 pixels de preenchimento à esquerda e à direita da barra */
  margin: 0 auto; /* Centraliza a barra horizontalmente dentro do contêiner pai, definindo margens automáticas à esquerda e à direita */
  box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura e altura total do elemento, para evitar que o tamanho total exceda a largura definida */
}



.barra img {
  width: 50px;
  height: 40px;
  margin-right: 20px;
}

.barra input[type="text"] {
  width: 30%;
  max-width: 300px; /* Limite de largura do campo de pesquisa */
  padding: 7px;
  font-size: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.barra .botoes {
  display: flex;
  gap: 10px;
}

.barra .botoes button {
  padding: 10px 15px;
  font-size: 12px;
  background-color: #5a5858;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.barra .botoes button:hover {
  background-color: #444242;
}
